src/*.exe
src/asiacoin
src/asiacoind
src/test_asiacoin
src/build.h
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.asiacoin
#compilation and Qt preprocessor part
*.qm
Makefile
asiacoin-qt
#resources cpp
qrc_*.cpp
#qt creator
*.pro.user
#mac specific
.DS_Store
build

!src/leveldb/Makefile
